ErrorDocument 404 /hcmotani/404.php
ErrorDocument 401 /hcmotani/401.php
ErrorDocument 500 /hcmotani/500.php

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
</IfModule>
